@model mf_dev_beckend_2023.Models.Veiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover @Model.NomeVeiculo</h1>

<h3>Tem certeza que deseja remover este registro?</h3>
<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VeiculoPlaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VeiculoPlaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Voltar</a>
        
    </form>
</div>
